:root {
  --linkColor: #1FAA59;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Remove Bootstrap Border */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
a {
  color: var(--linkColor);
}